.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.headerContainer {
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    height: var(--header-height);
}

.profile {
    margin-right: 5px;
    height: 80%;
    display: flex;
}

.logo {
    cursor: pointer;
}

.profileMenu {
    color: white !important;
    text-transform: none !important;
}
